# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: PQCzoo
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  PQCzoo | A website created to collect results relevate for the NIST post-quantum standardisations process. Topics include, but are not limited to, side-channel analysis, optimised hardware designs, optimised software designs.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://pqczoo.com"
twitter_username: pqczoo
github_username:  jameshoweee

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
gems:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
